.resultTable {
  margin: 3rem 0.5rem;
  text-align: center;
  margin-bottom: 7rem;

  .tableSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;

    table {
      margin: 0 3rem;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      tr {
        background-color: white;

        &:first-child {
          th {
            border-top-left-radius: 15px;
          }
          td {
            border-top-right-radius: 15px;
          }
        }

        &:last-child {
          th {
            border-bottom-left-radius: 15px;
          }
          td {
            border-bottom-right-radius: 15px;
          }
        }

        th {
          background-color: #3c444c;
          color: white;
          padding: 8px 1rem;
        }

        td {
          background-color: rgb(170, 170, 170);
          color: #3c444c;
          padding: 8px 1rem;
        }
      }
    }
  }
}
