.pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // font-family: "Comic Sans MS";

  .pageNotFound__btn {
    color: #61dafb;
    background: black;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    // font-family: "Comic Sans MS";

    &:hover {
      color: white;
      background: #12667d;
    }
  }
}
